#cer1,#cer2,#cer3,#cer4{
	height: 300px;
	width: 500px;
	padding: 20px;
}
#cer5,#cer6{
	height: 400px;
	width: 300px;
	padding: 20px;
}
body{
	background-color: #ECECEA;
}
header{
	height: 30px;
	background-color:#6DBDD6;
     text-align: center;
	padding-top: 4px;
}
a{
	color: black;
	margin-right: 15px;
	font-family: 'Montserrat', sans-serif;

}
a:visited{
	color: black;
	
}
a:hover{
	color:red;
}