body{
	    background-color: #ECECEA;
}

header{
	height: 15%;
	background-color:#6DBDD6;
     text-align: center;
	padding-top: 4px;
	border-bottom: 1px solid;
	border-color: black;
	margin-bottom: 1%;
}
header #title {
			font-family: 'Exo 2', sans-serif;
			font-size: 2.5em;
            
		}
img{
	height: 180px;
	width: 180px;
	padding-top: 5px;
	padding-left:  20px;
	border-radius: 50px;
	float: left;
}
h1{
    
	padding-left:35%;
	font-style: italic;
	font-size: 50px;
	/*font-family: serif;*/
	font-family: 'Montserrat', sans-serif;
	color: #6DBDD6;

}
h4{
	padding-left:32%;
	font-style: italic;
	color: black;
}
#links a {
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
}
a{
	color: black;
	margin-right: 15px;
	font-family: 'Montserrat', sans-serif;

}
a:visited{
	color: black;
	
}
a:hover{
	color:black;
}
footer{
	height: 40px;
	background-color:#6DBDD6;
	padding-bottom:50px;
	font-family: 'Exo 2', sans-serif;
	font-size: 1em;

	
}
#footer{
	
	padding-left: 35%;
	padding-top: 15px;
} 
#foot{
padding-top:23%;
}