header{
	height: 30px;
	background-color:#ECECEA;
     text-align: center;
	padding-top: 4px;
}
body{
	
	background-color:#6DBDD6;
}
a{
	color: black;
	margin-right: 15px;
	font-family: 'Montserrat', sans-serif;

}
a:visited{
	color: black;
	
}
a:hover{
	color:red;
}
.skill {
	padding-left: 3%;
}